
.container-fluid{
    padding: 0;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 20px;
}

/* ADD BUTTON */

#add-task {
    text-decoration: none;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* SEARCH */
.fas.fa-search {
    float: right;
    margin-top: -25px;
    margin-right: 5px;
    cursor: pointer;

}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}


/* TASK LIST */

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

a {
    text-decoration: none;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}


.fas.fa-trash {
    color: red;
}

.fas.fa-edit {
    color: green;
}

/* FOTTER */

footer {
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    position: relative;
    top: 50%;
}
/*MESSAGES*/

ul.messages {
    padding: 0; /*para não quebrar o layout */
}

ul.messages li {
    list-style: none;
}

/* PAGINATION */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto; /*Centralizando o SPAN no centro da div*/
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/*LOGIN*/

.auth-card {
    margin-bottom: 30px;
}

/* AUTHENTICATION */
.change-form-p {
    margin-top: 30px;
    text-align: center;
}































